pre {
    background-color: $colour-code;
    padding         : 00px;
    white-space     : pre-wrap;
    padding         : 16px;
}

pre code {
    background-color: transparent;
    color           : $colour-code-text;
    padding         : 00px;
    overflow-wrap   : break-word;
}

code {
    font-family     : Consolas, monaco, monospace;
    font-size       : 14px;
    font-weight     : normal;
    background-color: $colour-var;
    color           : $colour-var-text;
    padding         : 02px 04px;
}