.m-32 {
    margin: 32px;
}

.m-16 {
    margin: 16px;
}

.m-08 {
    margin: 08px;
}

.m-04 {
    margin: 04px;
}

.my-0 {
    margin-top   : 00px;
    margin-bottom: 00px;
}

.mx-0 {
    margin-right: 00px;
    margin-left : 00px;
}