.tip {
    background-color: $colour-tip;
    border-left     : 08px solid $colour-tip-text;
    color           : $colour-tip-text;
    font-size       : 13px;
    font-weight     : bold;
    text-align      : justify;
    text-justify    : inter-word;
    padding         : 12px;
}