
//Variable
$colour-blue-0: rgb(066, 121, 206);
$colour-blue-1: rgb(096, 156, 236);
$colour-blue-2: rgb(221, 231, 251);

$colour-cook            : rgb(041, 041, 041);
$colour-cook-text       : rgb(231, 231, 231);
$colour-cook-accent     : rgb(061, 061, 061);
$colour-cook-accent-text: rgb(231, 231, 231);
$colour-menu            : $colour-blue-0;
$colour-menu-text       : rgb(255, 255, 255);
$colour-menu-accent     : $colour-blue-1;
$colour-menu-accent-text: rgb(255, 255, 255);
$colour-cell            : rgb(255, 255, 255);
$colour-cell-text       : rgb(101, 101, 101);
$colour-cell-accent     : rgb(255, 255, 255);
$colour-cell-accent-text: rgb(066, 121, 206);
$colour-card            : rgb(255, 255, 255);
$colour-card-text       : rgb(101, 101, 101);
$colour-card-accent     : rgb(255, 255, 255);
$colour-card-accent-text: rgb(066, 121, 206);
$colour-foot            : rgb(255, 255, 255);
$colour-foot-text       : rgb(101, 101, 101);
$colour-foot-accent     : rgb(221, 231, 251);
$colour-foot-accent-text: rgb(066, 121, 206);
$colour-link            : rgb(241, 241, 241);
$colour-link-text       : rgb(066, 121, 206);
$colour-link-accent     : rgb(221, 231, 251);
$colour-var             : rgb(221, 231, 251);
$colour-var-text        : rgb(066, 121, 206);
$colour-code            : rgb(241, 241, 241);
$colour-code-text       : rgb(101, 101, 101);
$colour-tag             : rgb(255, 255, 255);
$colour-tag-text        : rgb(151, 151, 151);
$colour-tip             : rgb(221, 231, 251);
$colour-tip-text        : rgb(096, 156, 236);
$colour-body            : rgb(241, 241, 241);
$colour-h1              : $colour-blue-0;
$colour-h2              : $colour-blue-0;
$colour-h3              : $colour-blue-0;
$colour-h4              : rgb(066, 121, 206);
$colour-p               : rgb(101, 101, 101);
$colour-border          : rgb(221, 221, 221);
$colour-subtitle        : rgb(151, 151, 151);

//Internal
@import 'external/solarized-light';
@import 'styles/application';
@import 'styles/article';
@import 'styles/body';
@import 'styles/card';
@import 'styles/cells';
@import 'styles/cook';
@import 'styles/flex';
@import 'styles/font-awesome';
@import 'styles/foot';
@import 'styles/highlight';
@import 'styles/images';
@import 'styles/links';
@import 'styles/margin';
@import 'styles/menu';
@import 'styles/padding';
@import 'styles/page';
@import 'styles/rounded';
@import 'styles/tags';
@import 'styles/text-and-fonts';
@import 'styles/text-format';
@import 'styles/tip';